# General
.DS_Store/
.DS_Store
__MACOSX/
.AppleDouble
.LSOverride
Icon[
]

# Thumbnails
._*

# Files that might appear in the root of a volume
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project
